{{define "room-too-large"}}
<html>
  <head>
    <title>Too Large - Hummingbard</title>
    {{template "common-head" .}}
  </head>
  <body>
    <div class="root">
      {{template "header" Map "Page" . "Name" "error"}}

      <div class="center-content ">
        <div class="gr-center flex flex-column">
          <div class="pa3 w-350px brd lh-copy tc">
            Sorry, that room is too large for Hummingbard to handle right now. :(
          </div>
        </div>
      </div>
      {{template "state" .}}
      {{template "footer" .}}

    </div>
  </body>
</html>
{{end}}
