{{define "public"}}
<html>
  <head>
    <title>Public Feed - Hummingbard</title>
      <meta name="description" content="Matrix-powered communities.">
    {{template "common-head" .}}

<style>
canvas {
  width: 100%;
    height: 60vh;
}
</style>
  </head>
  <body>
    <div class="base {{if .LoggedInUser}}base-l{{end}}">
      {{if .LoggedInUser}}
      {{template "nav" Map "Page" .}}
      {{end}}
      <div class="root">
        {{template "header" Map "Page" . "Name" "public"}}


        <div class="content-c brd-lr ">
          <div class="con">
              <div class="posts">

                <div class="pa3 brd-btm gr-center">
                  <span class="small"><strong>Public Feed</strong></span>
                </div>

                {{$hms := .HomeServerURL}}
                {{$rpth := .Room.Path}}
                  {{$liu := .LoggedInUser}}
                {{if .Posts}}
                  {{range $idx, $post := .Posts}}
                    {{if and (eq $post.Type "com.hummingbard.post") (not $post.Redacted)}}
                      {{template "timeline-event" Map "Event" $post "HomeServerURL" $hms "RoomPath" $rpth "LoggedInUser" $liu}}
                    {{end}}
                  {{end}}
                {{else}}
                  <div class="gr-default h-100">
                    <div class="gr-center small bold">
                      No posts yet
                    </div>
                  </div>
                {{end}}
              </div>
          </div>

            <div class="more-posts flex flex-column">
              <div class="more-post-items">
              </div>
                <div class="load-more">
                  <button class="button">Load More</button>
                </div>
            </div>

            <div class="timeline">
            </div>
            <script nonce={{.Nonce}}>
              window.timeline = {
                public: true,
                room_id: {{.Room.ID}},
                permalink: {{.IsPermalink}},
                {{if .IsPermalink}}
                event_id: {{.Room.EventID}},
                thread_in_room_id: {{.Room.ThreadInRoomID}},
                {{end}}
                alias: {{.Room.Alias}},
                profile: {{.IsUserProfile}},
                initialPosts: JSON.parse({{.InitialPosts}}),
              end: {{.LastEvent}},
                owner: {{.IsOwner}},
                admin: {{.IsAdmin}},
                member: {{.IsMember}},
                state: {{.Room.State}},
                room_type: {{.Room.Type}},
                room_path: {{.Room.Path}}
              }
              let homeserverURL = {{.HomeServerURL}}
            </script>
        </div>
        {{template "state" .}}
        <script defer nonce={{.Nonce}} src="{{ InsertJS "index" }}"></script>
        <script defer nonce={{.Nonce}} src="{{ InsertJS "timeline" }}"></script>

      </div>
    </div>
  </body>
</html>
{{end}}
