@media (prefers-color-scheme: dark) {
:root {
  --primary: #ff3030;
  --secondary: #ff3030;
  --light-border-color: #F3F3F3;
  --dark-border-color: #e2e4e7;
  --primary-darkestest: #0a0a0a;
  --primary-darkest: white;
  --primary-dark: #9e9e9e;
  --primary-darkest-gray: #595959;
  --primary-darker-gray: #777;
  --primary-dark-gray: #999;
  --primary-gray: #4b4b4b;
  --primary-grayish: #4b4b4b;
  --primary-kinda-gray: #cccccc94;
  --primary-light-gray: #4b4b4b;
  --primary-lightest-gray: #262626;
  --primary-lightestest-gray: #262626;
  --primary-text: #ebebeb;
  --primary-link: #ebebeb;
  --light-text: #777;
  --yellow: #4b4b4b;
  --green: #32bf32;
  --yellow-alt: #FFCC00;
  --background: #151515;
  --pi-bg: #333;
  --pi-alt-bg: #292929;
  --text: white;
  --alt-text: black;
  --red: red;
  --blue: blue;
  --light-red: #f02c2c;
  --m-bg: #424242;
  --d-b: #9e9e9e;
  --d-b-h: #696969;
  --d-b-t: black;
  --white: #292929;
  --mask: #0d0d0d;
  --img-filter: grayscale(40%);
}
}

